/* SVN FILE: $Id$ */
/**
 * Base stylesheet - imports other stylesheets
 *
 * Copyright 2008 - Present,
 *      19508 Amaranth Dr., Suite D, Germantown, Maryland 20874 | 301.540.5950
 *      
 * Redistributions of files must retain the above notice.
 *
 * @filesource
 * @copyright		Copyright 2008 - Present, Blue Atlas Interactive
 * @version		   $Rev$
 * @modifiedby		$LastChangedBy$
 * @lastmodified	$Date$
 */

@import url("blueprint/screen.css");

body {
   text-align: center;
}

/* CONTAINER 
===================================================== */
div.container {
   text-align: left;
   margin-left: auto;
   margin-right: auto
}

/* HEADER 
===================================================== */
#header {}

/* META
===================================================== */
#meta {
   text-align: right
}

/* NAV 
===================================================== */
#nav li {
   display: inline;
}

/* FOOTER 
===================================================== */
#footer {}
